.login {
  position: relative;
}

.userIcon {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginBox {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputBox {
  display: flex;
  flex-direction: column;
}

.inputBox > div {
  margin: 10px;
}
